<div class="header">
  <mat-toolbar>
    <button mat-icon-button class="example-icon"(click)="homePage()">
      <img src="../../../assets/images/logo.png" alt="Logo" width="50" height="50">
    </button>
    <h2>FIT-BUDDY</h2>
    <span class="spacer"></span>
    <div class="menu-items">
      <button mat-raised-button (click)="viewTrainings()" color="primary">My Trainings</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="signOut()" color="warn">Sign Out</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

