<!--<app-signup-navbar></app-signup-navbar>-->
<!--<app-sign-in></app-sign-in>-->
<!--<app-trainer-registration></app-trainer-registration>-->
<!--<app-trainee-registration></app-trainee-registration>-->
<!--<app-my-account></app-my-account>-->
<!--<app-password-update></app-password-update>-->
<!--<app-update-trainer></app-update-trainer>-->
<!--<app-myaccount-student-profile></app-myaccount-student-profile>-->
<!--<app-myaccount-trainer-profile></app-myaccount-trainer-profile>-->
<!--<app-update-trainee></app-update-trainee>-->
<!--<app-trainings-log-trainee></app-trainings-log-trainee>-->
<!--<app-trainings-log-trainer></app-trainings-log-trainer>-->
<!--<app-training></app-training>-->
<!--<app-home-page></app-home-page>-->
<router-outlet></router-outlet>
<!--<app-join-us></app-join-us>-->
<app-footer></app-footer>
