<div class="navbar-container">
  <p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" routerLink="">
        <img src="../../../assets/images/logo.png" alt="Logo" width="50" height="50">
      </button>
      <div class="menu">

        <h2>FIT-BUDDY</h2>
        <!--        <button mat-button>About Us</button>-->
      </div>
      <div class="login">
        <!--        <button mat-button routerLink="/sign-in" color="warn">Sign In</button>-->
<!--        <button mat-raised-button routerLink="/sign-in" routerLinkActive="active" color="accent">ABOUT US</button>-->
        <button mat-raised-button color="primary" routerLink="/join-us">ABOUT US</button>
      </div>
    </mat-toolbar>
  </p>

</div>
