<app-homepage-navbar></app-homepage-navbar>
<div class="home-container">
  <div class="image-container">
    <img src="assets/images/Doraemon_trainer.jfif" alt="Fit Buddy Image" class="fit-buddy-image" />
  </div>
  <div class="text-container">
    <div class="fit-buddy-container">
      <h1 class="app-name"> FIT-BUDDY</h1>
      <p class="fit-buddy-text">Your Fitness Partner</p>
    </div>
    <div class="button-container">
      <button class="text-button left-button" routerLink="/sign-in" appCursorHover> SIGN-IN </button>
      <button class="text-button right-button" routerLink="/join-us" appCursorHover> JOIN NOW </button>
    </div>
  </div>
</div>
